.content {
  margin: 0;
  padding: 0;
  h3 {
    display: flex;
    // justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 10px 7px;
    background-color: #c6c6c6;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: normal;
    span {
      color: #355b70;
      font-size: 1.3rem;
    }
    i {
      display: inline-flex;
      position: absolute;
      right: 10px;
      svg {
        path {
          fill: #ffffff;
        }
      }
    }
  }
}
